<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.property.properties"/>
    <context:component-scan base-package="org.example"/>
<!--    <bean id="musicBean"-->
<!--          class="org.example.ClassicalMusic"-->
<!--    init-method="doMyInit"-->
<!--    destroy-method="doMyDest"-->
<!--     scope="prototype"-->
<!--    factory-method="getClassicalMusic"/>-->

<!--    <bean id="musicPlayer"-->
<!--          class="org.example.MusicPlayer"-->
<!--    scope="prototype">-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--        <property name="date" value="${musicPlayer.date}"/>-->
<!--        <property name="age" value="${musicPlayer.age}"/>-->

<!--    </bean>-->

</beans>